//WEATHER APP
@mixin weather-app-info {
  margin-top: 5rem;

  display: flex;

  @media only screen and (max-width: 1550px) {
    margin-top: 4rem;
  }

  p {
    margin-left: 3rem;
    font-size: 2.1rem;

    @media only screen and (max-width: 1550px) {
      font-size: 1.6rem;
    }
  }
}
