// //FONT
$font-text: "Nunito", sans-serif;
$font-heading: "Roboto", sans-serif;

$font-handwriting: "Amatic SC", cursive;

$fa-font-path: "../Fonts/webfonts";

//COLORS
$color-primary: #61848c;
$color-primary-light: #96ccd9;
$color-primary-dark: #35484d;

$color-secondary: #8c7561;
$color-secondary-light: #bfae99;
$color-secondary-dark: #403226;

$color-grey-1: #f5f5f5;
$color-grey-text: #696969;
$color-white: #f6f4f1;

//SHADOW
$shadow-medium: 2rem 2rem 3rem rgba(#000, 0.5);

//MEADIA QUERIES
$bp-largest: 96.875em; //1550px
$bp-big: 84.375em; //1350px
$bp-large: 71.875em; //1150px
$bp-medium: 56.25em; //900px
$bp-small: 46.875em; //750px
$bp-smaller: 40.625em; //650px
$bp-smallest: 34.375em; //550px
$bp-tiny: 21.875em; //350px
