.fishing-video {
  grid-row: 5 / 6;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);

  &__heading {
    z-index: 1;
    padding: 2rem;
    color: #fff;
    background-color: #fff;
    font-family: $font-podlanica;
    text-align: center;
    text-shadow: 2px 2px $color-primary-dark;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;

    h2 {
      text-transform: uppercase;
      font-size: 4.5rem;
    }

    p {
      font-size: 2.5rem;
    }
  }

  &__video {
    height: 100%;
    width: 100%;
    transform: translateY(-0.5rem);
    filter: blur(6px);
    -webkit-filter: blur(6px);
    overflow: hidden;
    object-fit: cover;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: center;
  }
}
