.footer {
  color: $color-grey-1;
  background-color: $color-secondary;

  grid-row: 9 / 10;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 45rem 25rem;

  &__map {
    height: 100%;
    width: 100%;
    object-fit: cover;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-self: center;
  }

  &__container {
    padding: 3rem;

    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    &--sp {
      margin-bottom: 1rem;
      font-size: 1.7rem;
    }

    &--socialmedia {
      font-size: 3rem;

      display: flex;
      justify-content: flex-end;
      align-items: center;

      &--fb {
        margin-left: 4rem;
      }

      &--trip {
        margin-left: 4rem;
        height: 3rem;
      }
    }
  }

  &__location {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;

    display: flex;
    align-items: center;

    &--icon {
      margin-right: 2rem;
      font-size: 3.6rem;
    }

    &--text {
      font-size: 1.7rem;
      font-weight: 400;
    }
  }

  &__contact {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    justify-self: center;

    display: flex;
    align-items: center;

    &--icon {
      margin-right: 2rem;
      font-size: 3.6rem;
    }

    &--text {
      font-size: 1.7rem;
      font-weight: 400;
    }
  }

  &__time {
    grid-column: 4 / 5;
    grid-row: 2 / 3;

    display: flex;
    align-items: center;
    &--icon {
      margin-right: 2rem;
      font-size: 3.6rem;
    }

    &--text {
      font-size: 1.7rem;
      font-weight: 400;
    }
  }
}
