.gallery-container {
  height: 100%;
  background-image: url(/img/podlanica_pattern-white--rotated.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  grid-row: 8 / 9;
  display: grid;
  grid-template-rows: 20rem 50rem;
}

.owl-carousel {
  grid-row: 2 / 3;
}

.owl-carousel .owl-stage {
  display: flex;
}

.owl-carousel .owl-item img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
