.menu {
  background-image: url(/img/bg-fish-2.png);
  background-color: $color-primary;
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

  grid-column: 1 / -1;
  grid-row: 5 / 6;

  display: flex;
  justify-content: center;

  &__food {
    z-index: 1;
    width: 80%;
    padding: 0 3rem;
    margin: 4.5rem;
    font-size: 2.5rem;
    background-color: #fff;
    border: 2rem solid $color-secondary;
    overflow: hidden;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr) 15%;
    grid-gap: 3rem;
    justify-items: start;
    align-items: start;

    @media only screen and (max-width: 1100px) {
      width: 100%;
      margin: 5rem 0;
    }

    @media only screen and (max-width: 950px) {
      margin: 0;
      font-size: 2.2rem;
      border: none;
    }

    @media only screen and (max-width: 650px) {
      padding: 3rem;
      display: flex;
      flex-direction: column;
    }

    @media only screen and (max-width: 400px) {
      font-size: 1.7rem;
    }

    section {
      margin-bottom: 1rem;

      display: flex;
      align-items: baseline;
    }

    section > * {
      padding: 0;
      margin: 0;
    }

    span {
      border-bottom: 2px dotted #333;
      flex: 1;
    }

    ul {
      list-style: none;
    }

    h3 {
      padding-left: 2rem;
      margin-bottom: 2rem;
      color: $color-white;
      background-color: $color-secondary-light;

      @media only screen and (max-width: 950px) {
        margin-bottom: 1rem;
      }
    }

    &--h2 {
      margin-bottom: 5rem;
      font-size: 7rem;
      font-family: $font-heading;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-secondary;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: start;

      @media only screen and (max-width: 950px) {
        margin-bottom: 0;
      }

      @media only screen and (max-width: 650px) {
        align-self: center;
        justify-self: flex-start;
      }
    }

    &--text {
      font-size: 2rem;
      color: $color-grey-text;
      font-style: italic;
      text-align: center;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: center;
      align-self: end;

      @media only screen and (max-width: 950px) {
        font-size: 2.5rem;
      }
    }

    &--apetizers {
      @include menu-items;

      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    &--main-dishes {
      @include menu-items;

      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }

    &--fish {
      @include menu-items;

      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }

    &--side-dishes {
      @include menu-items;

      grid-column: 2 / 3;
      grid-row: 3 / 4;
    }

    &--button {
      grid-column: 1 / -1;
      grid-row: 4 / 5;

      justify-self: center;
      align-self: start;

      @media only screen and (max-width: 650px) {
        align-self: center;
      }

      &--btn {
        padding: 0;
        @include button;
      }
    }
  }
}
