.weather-app {
  height: 100%;
  color: #fff;
  background-color: #1e3233;
  overflow: hidden;

  grid-row: 7 / 8;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 80rem;
  justify-content: center;
  align-content: center;

  &__animation {
    z-index: 0;
    margin: auto;

    grid-column: 1 / -1;
    grid-row: 1 / -1;
    justify-self: center;
    align-self: center;
  }

  &__left {
    z-index: 1;
    padding: 5rem;
    height: 100%;
    font-family: $font-podlanica;

    grid-column: 1 / 2;
    grid-row: 1 / -1;

    justify-self: center;
    align-self: center;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 40% 60%;

    &--1 {
      margin-left: 10rem;
      font-size: 2.7rem;
      text-shadow: 2px 2px 2px rgba($color-primary, 0.5);
      line-height: 1;

      grid-column: 1 / -1;
      grid-row: 1 / 2;
      justify-self: start;
      align-self: center;

      display: flex;
      flex-direction: column;
      justify-content: center;

      &--city {
        font-size: 10rem;
      }
    }

    &--icon {
      height: 20rem;

      grid-column: 1 / 2;
      grid-row: 2 / 3;
      align-self: start;
      justify-self: end;
    }

    &--2 {
      margin-left: 15rem;
      text-shadow: 4px 4px 2px rgba($color-primary-dark, 0.8);
      line-height: 1.5;

      grid-column: 2 / 3;
      grid-row: 2 / 3;

      align-self: start;
      justify-self: end;

      &--temp {
        font-size: 13rem;
      }

      p {
        font-size: 3rem;
      }
    }
  }

  &__form {
    z-index: 2;
    margin: 5rem;
    padding: 3rem;
    height: 57rem;
    width: 50rem;
    font-family: $font-podlanica;
    text-shadow: 4px 4px 4px rgba($color-primary, 0.4);
    border-radius: 3px;
    box-shadow: 7px 10px 15px rgba(#000, 0.3);
    border: 2px solid rgba($color-primary, 0.3);
    background: rgba($color-primary, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    grid-column: 2 / 3;
    grid-row: 1 / -1;

    justify-self: center;
    align-self: center;

    &--icon {
      font-size: 3.2rem;
      margin-left: 12rem;
    }

    &--text {
      h2 {
        margin-top: 3rem;
        font-size: 4.2rem;
        text-transform: uppercase;
        text-align: center;
      }
      p {
        font-size: 2.5rem;
        line-height: 2;
        text-align: center;
      }
    }

    &--location {
      @include weather-app-info;
    }

    &--phone {
      @include weather-app-info;
    }

    &--time {
      @include weather-app-info;
    }
  }

  &__right {
    z-index: 1;
    padding: 5rem;
    font-size: 4rem;
    font-family: $font-podlanica;

    grid-column: 3 / 4;
    grid-row: 1 / -1;
    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    &--time {
      margin: 3rem 0;
      font-size: 14rem;
      text-shadow: 4px 4px 4px rgba($color-primary, 0.7);
    }

    p {
      margin-bottom: 2rem;
      margin-left: 2rem;
      text-shadow: 2px 2px 1px rgba(#000, 1);
    }

    &--max {
      display: flex;
    }

    &--min {
      display: flex;
    }
  }
}
