* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px = 1rem
}

body {
  font-family: $font-raleway;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-rows:
    6rem repeat(3, minmax(80rem, auto)) 60rem minmax(80rem, auto) 73rem minmax(
      min-content,
      50vh
    )
    minmax(min-content, 75rem);

  justify-content: center;
}
