* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px = 1rem
  scroll-behavior: smooth;
}

body {
  background-color: $color-primary-dark;
  font-family: $font-text;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
}

.container {
  display: grid;
  grid-template-columns: minmax(auto, 192rem);
  grid-template-rows:
    6rem repeat(2, minmax(80rem, auto)) 60rem repeat(3, minmax(80rem, auto))
    80rem
    70rem;
  justify-content: center;
}

// .navigation,
// .ham,
// .header,
// .to-go,
// .fishing-video,
// .menu,
// .weather-app,
// .about-us,
// .gallery,
// .footer {
//   max-width: 1920px;
// }
