//TITLE
.heading__title {
  line-height: 1;
  &--1 {
    font-weight: 300;
    font-size: 15rem;
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: #fff;
  }

  &--2 {
    font-weight: 200;
    font-size: 6rem;
    font-family: $font-handwriting;
    letter-spacing: 2rem;
    letter-spacing: 0.3rem;
    color: #fff;
  }

  &--3 {
    font-weight: 200;
    font-size: 5rem;
    font-family: $font-handwriting;
    letter-spacing: 0.5rem;
    color: #fff;
  }
}

//NAVIGATION
.navigation {
  &__item {
    color: #fff;
    font-size: 1.6rem;
  }
}
