//TITLE
.heading__title {
  line-height: 1;
  &--1 {
    font-weight: 300;
    font-size: 15rem;
    font-family: $font-heading;
    text-transform: uppercase;
    letter-spacing: 2rem;
    color: #fff;

    @media only screen and (max-width: 1250px) {
      font-size: 12rem;
    }

    @media only screen and (max-width: 950px) {
      font-size: 10rem;
    }

    @media only screen and (max-width: 750px) {
      font-size: 8rem;
    }

    @media only screen and (max-width: 600px) {
      font-size: 6rem;
    }
  }

  &--2 {
    font-weight: 200;
    font-size: 6rem;
    font-family: $font-handwriting;
    letter-spacing: 2rem;
    letter-spacing: 0.3rem;
    color: #fff;

    @media only screen and (max-width: 1250px) {
      font-size: 5rem;
    }

    @media only screen and (max-width: 950px) {
      font-size: 4rem;
    }
  }

  &--3 {
    font-weight: 200;
    font-size: 5rem;
    font-family: $font-handwriting;
    letter-spacing: 0.5rem;
    color: #fff;

    @media only screen and (max-width: 950px) {
      font-size: 4rem;
    }
  }
}
